@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #2d2d2d;
  font-family: 'Montserrat', sans-serif; }

.nav {
  height: 60px;
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%; }
  .nav__max-width-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 30px; }
  .nav__logo {
    height: 50px; }
    .nav__logo img {
      height: 50px; }
  .nav__links {
    display: flex;
    align-items: center; }
    .nav__links .resume-btn {
      margin: 0 2rem;
      padding: 0.3rem 1.5rem; }
    .nav__links .icon-link {
      margin: 0 1rem;
      margin-bottom: -5px;
      color: white; }
      .nav__links .icon-link:last-child {
        margin-right: 0; }
  .nav .nav-transparent {
    background: transparent; }
    .nav .nav-transparent .resume-btn {
      color: #fff;
      border-color: #fff; }
  .nav .nav-colored {
    background: #fff;
    border-bottom: 1px solid grey; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4291ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%234291ff' stroke-width='0.71' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cuse fill='%234693ff' href='%23s' y='2'/%3E%3Cuse fill='%234693ff' href='%23s' x='1' y='2'/%3E%3Cuse fill='%234a95ff' href='%23s' x='2' y='2'/%3E%3Cuse fill='%234a95ff' href='%23s'/%3E%3Cuse fill='%234d98ff' href='%23s' x='2'/%3E%3Cuse fill='%234d98ff' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%23519aff'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%23519aff'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%23559cff'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%234291ff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23599eff'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%233b88ff'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%233b88ff'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%233b88ff'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }
  .header__content {
    font-size: 4rem;
    color: #ffffff; }
    .header__content button {
      background: #eee;
      color: #2d2d2d;
      font-weight: 100;
      font-size: 2.5rem;
      padding: 1.5rem 3rem;
      letter-spacing: 0.3rem;
      margin-top: 3rem; }

.projects {
  text-align: center;
  padding: 8rem 0; }
  .projects__max-width-container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 30px; }
    .projects__max-width-container .project {
      display: flex;
      width: 100%;
      margin: 4rem 0; }
      .projects__max-width-container .project__image {
        width: 30%;
        min-width: 30%; }
      .projects__max-width-container .project__overview {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 1rem 2rem;
        text-align: left; }
      .projects__max-width-container .project__name {
        font-size: 2rem; }
      .projects__max-width-container .project__about {
        color: #636363; }
      .projects__max-width-container .project__stack {
        font-size: 1.5rem;
        color: #3f72af;
        margin-top: 1.5rem;
        margin-bottom: 3rem; }
      .projects__max-width-container .project__buttons {
        margin-top: auto; }
        .projects__max-width-container .project__buttons a {
          margin-right: 2rem; }
    .projects__max-width-container .project-divider {
      height: 1px;
      background: grey;
      width: 100%; }

.skills {
  margin-bottom: 7rem; }
  .skills__max-width-container {
    max-width: 1366px;
    padding: 30px;
    margin: 0 auto; }
  .skills .skills-icons {
    width: max-content;
    margin: 0 auto; }
    .skills .skills-icons .skills-row {
      display: flex;
      align-items: flex-end;
      margin: 3rem 0; }
      .skills .skills-icons .skills-row .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2rem; }
        .skills .skills-icons .skills-row .skill .skill-icon {
          width: 50px; }

.footer {
  background: #484848;
  max-height: 700px;
  color: #ffffff; }
  .footer__max-width-container {
    max-width: 1366px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 30px;
    position: relative; }
  .footer__brief {
    display: flex;
    margin-bottom: 6rem; }
  .footer__about {
    width: 80%;
    margin-right: 4rem; }
  .footer__copyright {
    text-align: center;
    font-size: 1.3rem;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%; }

.section-title-container {
  margin: 4rem 0; }
  .section-title-container .section-title {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: max-content; }
    .section-title-container .section-title .section-title-line {
      margin: 0 3rem;
      width: 150px;
      height: 2px;
      background: #3f72af; }

a {
  text-decoration: none;
  color: inherit; }

.text-primary {
  color: #3f72af; }

.btn {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px -2px #00000069; }
  .btn:active, .btn:focus {
    outline: none; }

.btn-primary {
  background: #3f72af;
  color: white; }

.btn-secondary {
  background: transparent;
  box-shadow: none;
  border: 2px solid #3f72af;
  color: #3f72af; }

@media (max-width: 800px) {
  .header__content {
    font-size: 3rem; }
    .header__content button {
      font-size: 2rem;
      padding: 1rem 2rem; }
  .projects__max-width-container .project {
    flex-direction: column; }
    .projects__max-width-container .project__image {
      width: 100%;
      margin-bottom: 1rem; }
  .footer__max-width-container .footer__brief {
    flex-direction: column; }
  .footer__max-width-container .footer__about {
    width: 100%; }
  .footer__max-width-container .footer__contact {
    margin-top: 5rem; } }

@media (max-width: 600px) {
  .section-title-container .section-title .section-title-line {
    display: none; }
  .skills .skills-icons .skills-row .skill {
    font-size: 1.2rem; }
    .skills .skills-icons .skills-row .skill .skill-icon {
      width: 30px; } }

@media (max-width: 420px) {
  .nav__max-width-container {
    padding: 0 15px; }
  .header__content {
    padding: 0 15px;
    font-size: 2rem; }
    .header__content button {
      font-size: 1.5rem; }
  .projects__max-width-container {
    padding: 0 15px; }
    .projects__max-width-container .project {
      flex-direction: column; }
      .projects__max-width-container .project__buttons {
        font-size: 1.4rem; }
  .skills__max-width-container {
    padding: 30px 15px; }
  .skills .skills-icons .skills-row .skill {
    font-size: 1rem; }
    .skills .skills-icons .skills-row .skill .skill-icon {
      width: 26px; } }
