@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

$color-primary: #3f72af;
$color-black: #2d2d2d;
$color-white: #ffffff;

$max-width: 1366px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-black;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  height: 60px;
  z-index: 5;
  border-bottom: 1px solid grey;

  position: fixed;
  top: 0;
  width: 100%;

  &__max-width-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__logo {
    height: 50px;
    img {
      height: 50px;
    }
  }

  &__links {
    display: flex;
    align-items: center;

    .resume-btn {
      margin: 0;
      padding: 0.3rem 1.5rem;
    }

    .icon-link {
      margin: 0 1rem;
      color: white;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .nav-transparent {
    background: transparent;

    .resume-btn {
      color: #fff;
      border-color: #fff;
    }
  }

  .nav-colored {
    background: #fff;
  }



  
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #4291ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%234291ff' stroke-width='0.71' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cuse fill='%234693ff' href='%23s' y='2'/%3E%3Cuse fill='%234693ff' href='%23s' x='1' y='2'/%3E%3Cuse fill='%234a95ff' href='%23s' x='2' y='2'/%3E%3Cuse fill='%234a95ff' href='%23s'/%3E%3Cuse fill='%234d98ff' href='%23s' x='2'/%3E%3Cuse fill='%234d98ff' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%23519aff'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%23519aff'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%23559cff'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%234291ff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23599eff'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%233b88ff'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%233b88ff'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(40.1) translate(-975.06 -731.3)'%3E%3Cg fill='%233b88ff'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  &__content {
    font-size: 6vh;
    color: $color-white;

    button {
      font-size: 5vh;
      padding: 2vh;
    }
  }
}

.projects {
  text-align: center;
  padding: 8rem 0;

  &__max-width-container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 30px;

    .project {
      display: flex;
      width: 100%;
      margin: 4rem 0;

      &__image {
        width: 30%;
      }

      &__overview {
        flex-grow: 1;
        padding: 1rem 2rem;
        text-align: left;
      }
    }

    .project-divider {
      height: 1px;
      background: grey;
      width: 100%;
    }
  }
}

.footer {
  background: #000;
  height: 50vh;
  max-height: 700px;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-primary {
  color: $color-primary;
}

.btn {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px -2px #00000069;

  &:active,
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background: $color-primary;
  color: white;
  font-weight: bold;
}

.btn-secondary {
  background: transparent;
  box-shadow: none;
  border: 2px solid $color-primary;
  color: $color-primary;
}
